body{
  background-image: url("../images/106.jpg");
  background-repeat: no-repeat;
}

#citation{
  margin-top: 0.7em;
  font-size: 1em;
  color: #F2F2F2;
  text-align: center;
}
h1{
font-size: 2,5em;
color: rgb(235, 52, 94);
text-transform: uppercase;
font-weight: bold;
text-align: center;
}
.images{
  margin: 3em 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
img{
  margin: 1em;
  border-radius: 50%;
}
span{
  font-size: 2.3em;
  font-weight: bold;
  color: rgb(35, 115, 28);
}
audio{
  margin-top: 4em;
}
#piscine{
  border-radius: 50%;
}
#souhait{
  font-size: 2.5em;
  font-weight: bold;
  color: rgb(33, 93, 196);
}
